* {   
	margin:0;
	padding:0;
	font-family:Arial;
}

@page {
	      /* 'em' 'ex' and % are not allowed; length values are width height */

}

.wrapper {
	/*width:180mm;*/
/*    margin : 20px;
    padding-left: 30px;
    padding-right: 30px;*/
    /*border : 1px solid black;*/
}

.header{
	/*line-height: 80%;*/
}

.heading{
	border-bottom: 1px solid black;	
}

.dtkiri{
	float: left;
	width: 50%;
}

.dtkanan{
	float: right;
	width: 50%;
}

.heading, td {
	/*border : 1px solid black;*/
}

.nama {
	width: 15mm;
}

.titikDua {
	width: 2%;
}

.data {
	width: 30mm;
}

input[type=text] {
	/*outline: none;*/
/*	border-color: white;
	background-color: red;*/
}

.tB {
	border-collapse: collapse;
	
}

.thead, .thead th{
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.invoice_body{
	height: 50mm;
}

.invoice_foot{
	width: 100%;
	border-top: 1px solid;
}

.invoice_foot td{
	/*border: 1px solid black;*/
}