body{
	margin: 0px;
	padding: 0px;
}

#datepicker {
	width: 200px; 
	margin: 0 20px 20px 0;
}

#datepicker .form-control{
	text-align: center;
}

#datepicker > span:hover{
	cursor: pointer;
}

#topnav{
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	height: 56px;
	background-color: #fff;
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
	z-index: 3;
}

#rightside{

}

.garis {
	width: 20px;
	height: 2px;
	background-color: gray;
	margin: 4px 0;
}	

.menuicon{
	display: inline-block;
	cursor: pointer;
	float: left;
}

/*Side Navigation vvvvv*/

#sidenav{
	top: 56px;
	height: 100%;
	width: 15%;
	background-color: #f7f7f7;
	padding-top: 22px;
	padding-bottom: 22px;
	left: 0;
	transition: all 500ms ease-in-out;
	overflow-x: hidden;
	z-index: 1;
	position: fixed;
	border-right: 1px solid #ccc;
}


#tab .tabbutton a, #btn_daftar{
	display: block;
    transition: 0.3s;
    background-color: inherit;
	color: gray;
	padding: 12px 25px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}
/*============================*/
.ion-close-round:hover{
	cursor: pointer;
	color: red;
}

.ion-edit, .ion-trash-a{
	color : black;
	font-size: 17px;
}

.ion-edit:hover{
	cursor: pointer;
	color: dodgerblue;
}

.ion-trash-a:hover{
	cursor: pointer;
	color: red;
}

.hapus .ion-close-round{
	text-align: center;
}

/*============================*/
#tab a:hover{
	background-color: #ddd;
	transition: 0.1s;
}

#tab a.active{
	text-decoration: none;
	background-color: dodgerBlue;
	color: white;
	font-weight: bold;
}

.dropdown{
	display: none;
}

.dropdown a{
	display: block;
	color: gray;
    padding: 10px 14px;
    font-size: 15px;
    width: 100%;
    text-indent: 18px;
}

.dropdown a:hover{
	background-color: #ddd;
	transition: 0.1s;
	text-decoration: none;
}

.dropdown a.active{
	text-decoration: none;
	color: none;
	font-weight: bold;
}

.ion-arrow-down-b{
	float: right;
}

#tab a span, .dropdown span{
	margin-right: 20px;
}

/*Side Navigation ^^^^*/

#rightside{
	top: 56px;
	margin-left: 15%;
	width: 85%;
	height: 100%;
	transition: all 500ms ease-in-out;
}

#sidenav.show{
	left: -18%;
}

#rightside.show{
	margin-left: 0;
	width: 100%;
}

/*-------------Bagian Button------------*/

.button{
    border: none;
    color: white;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-modal{
	background-color: dodgerBlue; 
	border-radius: 4px; 
	width: 100%;
}

.add-modal:hover{
	background-color: #0059b3; 
	transition: .3s;
}

.cancel-modal{
	background-color: #f44336; 
	border-radius: 4px; 
	width: auto;
	padding: 10px 18px;
}

.cancel-modal:hover{
	background-color: #c2160a; 
	transition: .3s;
}

/* -----------------^^^^^------------------- */

/* -----------------Customer Form------------------- */
.all-box {
 	background-color: #f7f7f7;
 	padding-left: 50px;
 	padding-right: 50px;
 	padding-bottom: 50px;
 }	

.all-top{
	/*margin-top: 55px;*/
}


.all-content{
	background-color: #fff;
	padding: 7px;
	border-radius: 6px;
}

.all-content2 {
	background-color: #fff;
	padding: 7px;
	border-radius: 6px;
	text-indent: 20px;
	clear: both;
	margin-bottom: 5px;
}

.dtkiri {
	width: 60%;
	float: left
}

.dtkanan {
	width: 40%;
	float: right;
}

.all-head .button-add{
	float: left;
	display: block;
}

.all-head {
	padding: 11px;
}

.all-bottom{
	background-color: #fff;
	padding: 7px;
	border-radius: 6px;
}


/* ------------------------------------------------ */

/*---------- Modal Dialog Customer--------------*/

.modal_dialog{
	display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.button-add-modal{
	border-radius: 0px;
}

.modal_content{
	background-color: #fefefe;
    margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%;
    border-radius: 6px;
}

.modal_head{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal_title{
	margin-top: 25px;
}

.btn-close-modal{
	position: absolute;
    right: 10px;
    top: -17px;
    font-size: 16px ;
    padding: 9px 14px;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-close-modal:hover, focus{
	color: red;
	cursor: pointer;
}

.modal_body, .modal_foot{
    padding: 20px;
}

.inputbox{
	position: relative;
}

.inputbox span{
	position: absolute;
	bottom: 20px;
	font-size: 15px;
	left: 14px;
}

.animate{
	-webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/*--------------Form Penjualan-------------------*/
.info-top{
	background-color: #fff;
	padding: 7px;
	border-radius: 6px;
	text-indent: 20px;
	margin-bottom: 5px;
}

#tab a
{
	text-decoration: none;
}
/*------------------------------------------------*/

/*Data laporan*/
.tombolfilter{
	margin-top: 30px;
}

#filter{
	margin-right: 10px;
}

#reset{
	margin-right: 10px;
}

#cetak{
	margin-right: 10px;
}
/**/

/*Detail penjualan*/
.kiri {
	float: left;
	width: 50%;
}

.kanan {
	width: 50%;
	float: right;
}
/*Detail Penjualan*/

.header{
	text-indent: 30px;
}
/*-------------*/

/*Top Nav*/
.title{
	float: left;
	margin-top: -6px;
	margin-left: 35px;
}

.logout
{
	margin-right: 35px;
	margin-top: -4px;
	float : right;
}

.logout span{
	margin-right: 15px;
}

.jamtgl {
	float : right;
}

#clock {
	margin-right: 35px;
}

#date {
	margin-right: 35px;
}
/**/

/*Transaksi Jual & Beli*/
#detail, #print {
    text-decoration: none;
    padding: 2px 10px;
    color: #17a2b8;
    border-radius: 4px;
    font-size: 14px;
    transition-duration: 0.3s;
}

#detail:hover, #print:hover {
    background-color: #17a2b8;
    color: white;
}
/*---------------------*/


/*Scroll Up*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 13px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 9px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/**/