* {   
	margin:0;
	padding:0;
	font-family:Arial;
}

@page {
	      /* 'em' 'ex' and % are not allowed; length values are width height */

}

body{
	font-size: 10pt;
}

.wrapper {
	/*width:180mm;*/
/*    margin : 20px;
    padding-left: 30px;
    padding-right: 30px;*/
    /*border : 1px solid black;*/
}

.headInfo,.headInfo td {
	/*border: 1px solid black;*/
}

.heading{
	border-bottom: 1px solid black;	
}

.dtkiri{
	float: left;
	width: 50%;
}

.dtkanan{
	float: right;
	width: 50%;
}

.heading, td {
	/*border : 1px solid black;*/
}

.nama {
	width: 15mm;
}

.titikDua {
	width: 2%;
}

.dtkiri .data {
	width: 30mm;
}

.dtkanan .data{
	width: 50mm;
}

.tB, .tB td{
	border-collapse: collapse;
	/*border: 1px solid black;*/
}

.thead, .thead th{
	/*border: 1px solid black;*/
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.invoice_body{
	height: 50mm;
}

.invoice_foot{
	width: 100%;
	border-top: 1px solid;
	/*border: 1px solid black;*/
}

.invoice_foot td{
	/*height: 8mm;*/
	/*border: 1px solid black;*/
}

.invoice_foot .sign{
	height: 15mm;
}